{% load static %}

<style>
#hello-msg{
	color: #fff;
	margin-right: 20px;
}

.navbar1{
  height: 50px;
  width: 50px;
}
</style>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <img class="navbar1" src="{% static 'medical/img/med.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'medical:home' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'medical:products' %}">Products</a>
      </li>
    
      
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Indoor</a>
        <a class="dropdown-item" href="#">Outdoor</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>

    {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'medical:account' %}">Settings</a>
      </li>
    {%endif%}
    </ul>
  </div>
  <span id="hello-msg">Hello, {{request.user}} </span>
  <span><a class="btn btn-info" href="{% url 'medical:logout' %}">Logout</a></span>
</nav>