{%  extends 'medical/main.html' %}
{% load static%}


{% block title %}
    User
{% endblock  %}

{% block content %}

{% include 'medical/status.html' %}
    
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Orderd</th>
					<th>Status</th>
				</tr>
				{% for o in orders %}
				<tr> 
					<td>{{o.product}}</td>
					<td>{{o.product.category}}</td>
					<td>{{o.date_created}}</td>
					<td>{{o.status}}</td>
                </tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}